@model PizzaStore.Models.Pizza

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create your perfect pizza!</h1>

<h4>First, select your dough and cheese:</h4>
<h6>(You can also think of a cool name for your Pizza. Get Creative!)</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <label asp-for="DoughType" class="control-label"></label>
                <select asp-for="DoughType" class="form-control" asp-items="Html.GetEnumSelectList<Dough>()"></select>
                <span asp-validation-for="DoughType" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <label asp-for="CheeseType" class="control-label"></label>
                <select asp-for="CheeseType" class="form-control" asp-items="Html.GetEnumSelectList<Cheese>()"></select>
                <span asp-validation-for="CheeseType" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <partial ></partial>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
